
<div class="top-big-header2">
	<div class="container">
		<div class="top-sub-bar row">
			<div class="col-lg-2 col-md-2 col-sm-2">
				<a href="#/innovative-landing"><img src="images/Accenture_logo.png" /></a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 txt-center mTop11">
				<ul class="idea-menus">
					<li><a href="#/innovative-createideas"><img src="images/icon_Add_Ideas.png" >&nbsp;<b>Add Ideas</b></a></li>
					<li><a href=""><img src="images/icon_Explore_ideas.png" >&nbsp;<b>Explore Ideas</b></a></li>
					<li><a href="#/innovative-implementations"><img src="images/icon_Platform_Ecosystem.png" >&nbsp;<b>Platform Ecosystem</b></a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 mTop11 txt-right">
				<a href="#/innovative-details"><img src="images/icon_Search.png" ></a>&nbsp;&nbsp;
				<span><img src="images/icon_James-doe.png" >&nbsp;<b>James Doe</b></span>
			</div>
		</div>
		<div class="row sliders-panel sub-bar-adjs">
			<div class="col-lg-8" style="padding: 0">
			<img src="images/Myprofile_banner.jpg" style="width: 100%; height: 248px;">
			</div>
			<div class="col-lg-4">
				<div class="recog-panels">
					<p class="label-clrr txt-center pad-adju">My Recognition Panel</p>
					<div class="row m-btm8">
						<div class="col-lg-4"><img src="images/myprofile_goldbadge.png"><a class="med-size-fo">Received <br/>Gold Badge</a></div>
						<div class="col-lg-4"><img src="images/Myprofile_Recieved200.png"><a class="med-size-fo">Received <br/>200 Points</a></div>
						<div class="col-lg-4"><img src="images/Myprofile_Clyamoney.png"><a class="med-size-fo">2000 <br/>Clay money</a></div>
					</div>
					<div class="row m-btm8">
						<div class="col-lg-4"><img src="images/Myprofile_fundedideas.png"><a class="med-size-fo">Funded <br/>Ideas</a></div>
						<div class="col-lg-4"><img src="images/Myprofile_50hrs.png"><a class="med-size-fo">50 hrs <br/>Dedicated</a></div>
						<div class="col-lg-4"><img src="images/Myprofile_2projects.png"><a class="med-size-fo">Contributed <br/>2 <br/>Projects</a></div>
					</div>
					<div class="row">
						<div class="col-lg-4"><img src="images/Myprofile_events.png"><a class="med-size-fo">My Events</a></div>
						<div class="col-lg-4"><img src="images/Myprofile_communities.png"><a class="med-size-fo">My Community</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="rows-bar progress-bars">
	<div class="container">
	<h3 class="pleft0">My Innovations/ideas</h3>
	<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/idea1.png" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Forms Explorer</a></p>
		<p class="by-polpular">by Kartik Shah</p>
		<p class="cnts">The Forms Explorer and Management Platform, accelerates the forms management process by simplifying and making it easier to extract and manage insurers forms. Form Extractor extracts the insurers policy related data data from the different source systems.</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/idea2.png" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Synergia</a></p>
		<p class="by-polpular">by Rajen Muthusamy</p>
		<p class="cnts">Provides an innovative solution for drug related adverse events, aims to reduce clinical trial spending, speed-up clinical trial process, reduce drug failure probability and facilitate faster and well-informed decisions</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		&nbsp;
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		&nbsp;
	</div>
	</div>
	</div>
</div>
<div class="rows-bar progress-bars middle-bars">
	<div class="container">
	<h3 class="pleft0 flt-left">Ideas Contributed or Funded</h3>
	<div class="flt-left" style="margin-top: 20px; margin-left: 10px;">
		<a href="" class="smash-c">Contributed</a> &nbsp;&nbsp;
		<a href="" class="smash-c">Funded</a>
	</div>
	<div class="row clr">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/Myprofile_Ideascontribute-1.jpg" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Forms Explorer</a></p>
		<p class="by-polpular">by Kartik Shah</p>
		<p class="cnts">The Forms Explorer and Management Platform, accelerates the forms management process by simplifying and making it easier to extract and manage insurers forms. Form Extractor extracts the insurers policy related data data from the different source systems.</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/Myprofile_Ideascontribute-2.jpg" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Synergia</a></p>
		<p class="by-polpular">by Rajen Muthusamy</p>
		<p class="cnts">Provides an innovative solution for drug related adverse events, aims to reduce clinical trial spending, speed-up clinical trial process, reduce drug failure probability and facilitate faster and well-informed decisions</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/Myprofile_Ideascontribute-3.jpg" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Smart Irrigation</a></p>
		<p class="by-polpular">by Rajen Muthusamy</p>
		<p class="cnts">Smart Irrigation system aims to address the problem with over / under watering using IoT devices to monitor crop profile attribute such as humidity, moisture content and use edge computing devices to capture sensor data and determine the optimal irrigation schedule</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="bot-boxes">
		<div class="title-img">
			<img src="images/Myprofile_Ideascontribute-4.jpg" />
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details">Trade Decision Engine</a></p>
		<p class="by-polpular">by Kartik Shah</p>
		<p class="cnts">A dashboard that accepts ticker, quantity, buy/sell, and provides summary information from various sources of information, including news feeds, social media, financial information, and internal applications from the bank for regulatory/compliance checks, client portfolio and pricing algorithm.</p>
		<p class="amt-popular">$2000</p>
		<img src="images/slider_new.jpg" width="195px;">
		<span class="by-polpular">55%</span><span class="by-polpular" style="float:right">1 Days left</span>
		</div>
	</div>
	</div>
	</div>
	</div>
</div>

<div class="rows-bar progress-bars">
	<div class="container">
		<h3 class="pleft0">Communities Followed</h3>
		<div class="row botom-imgs">
			<div class="col-lg-2">
			<div class="img1">
			<a href="#/innovative-communities" class="bg-images">ARTL</a>
			<p class="med-size-fo txt-center">2000 FOllowers</p>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="img2">
			<a href="#/innovative-communities" class="bg-images">ACIT</a>
			<p class="med-size-fo txt-center">5000 Followers</p>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="img3">
			<a href="#/innovative-communities" class="bg-images">ATAL</a>
			<p class="med-size-fo txt-center">2300 Followers</p>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="img4">
			<a href="#/innovative-communities" class="bg-images">Tech Arch</a>
			<p class="med-size-fo txt-center">2000 Followers</p>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="img5">
			<a href="#/innovative-communities" class="bg-images">ARTL</a>
			<p class="med-size-fo txt-center">1900 Followers</p>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="img6">
			<a href="#/innovative-communities" class="bg-images">AFPJ</a>
			<p class="med-size-fo txt-center">2400 Followers</p>
			</div>
			</div>
	</div>
</div>
</div>