
<div class="top-sub-headers">
	<div class="container">
		<div class="top-sub-bars row">
			<div class="col-md-2">
				<a href="#/innovative-landing"><img src="images/Accenture_logo.png" /></a>
			</div>
			<div class="col-md-7 txt-center mTop11">
				<ul class="idea-menus">
					<li><a href="#/innovative-createideas"><img src="images/icon_Add_Ideas.png" >&nbsp;<b>Add Ideas</b></a></li>
					<li><a href=""><img src="images/icon_Explore_ideas.png" >&nbsp;<b>Explore Ideas</b></a></li>
					<li><a href="#/innovative-implementations"><img src="images/icon_Platform_Ecosystem.png" >&nbsp;<b>Platform Ecosystem</b></a></li>
				</ul>
			</div>
			<div class="col-md-3 mTop11 txt-right">
				<a href="#/innovative-profile"><img src="images/icon_Search.png" ></a>&nbsp;&nbsp;
				<span><img src="images/icon_James-doe.png" >&nbsp;</b>James Doe</b></span>
			</div>
		</div>
	</div>
</div>
<div>
</div>

<div class="container sub-containers">
<div class="row">
	<div class="col-md-8">
				<div class="titles">

				<div class="short-profilediv"><img src="images/icon_James-doe.png" ></div>
				<div class="short-profilec-div"><p class="name-title">Kartik Shah</p><p class="by-polpular">Senior Manager</p></div></div>
				<h3 class="sub-title-head clr">Forms Explorer</h3>
				<p>Insurance industry works with multiple forms for correspondence, regulatory purposes, etc. Most of these forms are in legacy systems or word files. The forms are not easily searchable to provide the business the view related to possible forms for a particular product or claim or work activity. Currently there is no system that enables management and search of these forms. Request from Accenture Insurance CoE to help with this activity in preparation for a couple of opportunities and client visits to ASIC.</p>
				<p>The Forms Explorer and Management Platform, accelerates the forms management process by simplifying and making it easier to extract and manage insurers forms. Form Extractor extracts the insurers policy related data data from the different source systems, converts into standard XMLs and persist all the form metadata in DB, which is used by Form explorer for the display in UI. Due to limited access to legacy systems in the time-frame at hand, the data from various source systems was consolidated and made available to team to process further.</p>
				<p>Team leveraged SME's from Insurance CoE to validate functional user stories, and followed an agile approach in architecting and designing an MVP that is being showcased to multiple clients.
Technology used: Bluemix, Liberty Profile runtime, SQL DB, SSO service.</p>
				<div style="margin: 25px 0; border: solid 1px;height: 300px;"><img src="images/Details_video.png" height="300px" width="634"></div>
				<h4>Media Files</h4>
				<div class="media-containers">
				<div class="short-profilediv"><img src="images/icon_PPT.png" ><p class="by-polpular">Pulse 10</p></div>
				<div class="short-profilec-div"><p>Aliquem aliquem ligula et epsum aliquet</p></div>
				<div class="short-profilediv"><img src="images/icon_PDF.png" ><p class="by-polpular">Pulse 10</p></div>
				<div class="short-profilec-div"><p>Aliquem aliquem ligula et epsum aliquet</p></div>
				<div class="short-profilediv"><img src="images/icon_XLS.png" ><p class="by-polpular">Pulse 10</p></div>
				<div class="short-profilec-div"><p>Aliquem aliquem ligula et epsum aliquet</p></div>
				<div class="short-profilediv"><img src="images/icon_DOC.png" ><p class="by-polpular">Pulse 10</p></div>
				<div class="short-profilec-div"><p>Aliquem aliquem ligula et epsum aliquet</p></div>
				</div>
	</div>
	<div class="col-md-4">
		<div class="row m-btm20">
			<div class="col-md-4">
				<h4>$5000</h4>
				<p class="by-polpular">funded of $10,0000</p>
			</div>
			<div class="col-md-2">
				<img src="images/Details_views-icon.png" />
				<p>500</p>
				<p>views</p>
			</div>
			<div class="col-md-2">
				<img src="images/Details_Likes-icon.png">
				<p>100</p>
				<p>likes</p>
			</div>
			<div class="col-md-2">
				<img src="images/Details_Followers_icon.png">
				<p>50</p>
				<p>followers</p>
			</div>
			<div class="col-md-2">
				<img src="images/Details_Share-icon.png">
				<p>70</p>
				<p>share</p>
			</div>
		</div>
		<div class="right-grey m-btm20">
		<div class="row">
			<div class="col-md-5"><p class="by-polpular">10 days 7 hours left</p></div>
			<div class="col-md-7"><h4 style="float:left; width: 64px;">$20,000</h4><p class="by-polpular">Fund available</p></div>
		</div>
		<p style="float:left; width: 64px;">I want to fund $</p><span><input type="text" /><a href="" class="join-team">Apply</a></span>
		</div>
		<div class="row m-btm20 clr">
			<div class="col-md-2">
				<h4>Skills</h4>
			</div>
			<div class="col-md-10">
				<ul class="points">
					<li><p>Information Architect</p></li>
					<li><p>UI Developer</p></li>
					<li><p>Bluemix</p></li>
				</ul>
			</div>
		</div>
		<div class="row m-btm20">
			<div class="col-md-8">
				<h4>Teams</h4>
				<p>This project will require the collabration of an exceptionally visionary, multi-disciplinary team</p>
			</div>
			<div class="col-md-4">
				<a href="" class="join-team">Join Team</a>
			</div>
		</div>
		<div class="row m-btm20">
			<div class="col-md-6"><div><img src="images/icon_James-doe.png" >&nbsp;Vidhya R</div>
			<div><img src="images/icon_James-doe.png" >&nbsp;Surendra K</div></div>
			<div class="col-md-6"><div><img src="images/icon_James-doe.png" >&nbsp;Gopal R</div>
			<div><img src="images/icon_James-doe.png" >&nbsp;Chandu M</div></div>
		</div>
				<div class="row">
			<div class="col-md-8">
				<h4>Concepts/Ideas</h4>
				<p>This project will require the collabration of an exceptionally visionary, multi-disciplinary team</p>
			</div>
			<div class="col-md-4">
				<a href="" class="join-team">Contribute</a>
			</div>
		</div>
				<div class="row m-btm20">
			<div class="col-md-8">
				<h4>Teams</h4>
				<p>This project will require the collabration of an exceptionally visionary, multi-disciplinary team</p>
			</div>
			<div class="col-md-4">
				<a href="" class="join-team">Publish</a>
			</div>
		</div>
		<h4>Funders</h4>
		<div class="row m-btm20">

			<div class="col-md-8"><div><img src="images/icon_James-doe.png" height="30px;" >&nbsp;Bhavin Mehta</div>
			<div><img src="images/icon_James-doe.png" height="30px;">&nbsp;Mark Potts</div>
			<div><img src="images/icon_James-doe.png" height="30px;" >&nbsp;James Doe</div></div>
			<div class="col-md-4" style="padding-top:-2px;margin-top:-2px;">
				<h4>$3,000</h4>
				<h4>$3,000</h4>
				<h4>$3,000</h4>
			</div>
		</div>
		<h4>Followers</h4>
		<div class="row m-btm20">
			<div class="col-md-6"><div><img src="images/icon_James-doe.png" >&nbsp;Yatin Gawde</div>
			<div><img src="images/icon_James-doe.png" >&nbsp;Ramesh Balu</div></div>
			<div class="col-md-6"><div><img src="images/icon_James-doe.png" >&nbsp;Sanjeev Jaiswal</div>
			<div><img src="images/icon_James-doe.png" >&nbsp;Vivek Govekar</div></div>
		</div>
	</div>
</div>
</div>