<div class="top-big-header">
	<div class="container">
		<div class="top-bar row">
			<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
				<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 mTop11 txt-right mob-show">
				<span><a href="#/innovative-profile">

				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">

				</a>
				&nbsp;<a href="#/innovative-profile"><b class="user">g rengaraj</b></a></span>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 txt-right mTop11">
				<ul class="idea-menus">
					<li><a href="#/innovative-createideas"><img src="images/icon_Add_Ideas.png">&nbsp;<b>Add Ideas</b></a></li>
					<li><a href="#/innovative-implementations"><img src="images/icon_Platform_Ecosystem.png">&nbsp;<b>Platform Ecosystem</b></a></li>
					<li>
						<span><a href="#/innovative-profile">
						<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
						</a>
						&nbsp;<a href="#/innovative-profile"><b class="user">g rengaraj</b></a></span>
					</li>
				</ul>
			</div>
			<!-- div class="col-lg-3 col-md-3 col-sm-3 mTop11 txt-right mob-hide">
				<span><a href="#/innovative-profile">

				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">

				</a>
				&nbsp;<a href="#/innovative-profile"><b class="user">g rengaraj</b></a></span>
			</div -->
		</div>
		<div class="top-banner-bar row">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
				<p>
				One-stop-shop for innovation <br> open to all Accenture employees
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
					<p><a href class="med-size-fo">How does it works?</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
					<p>MY IDEAS</p>
			</div>
		</div>
		<div class="top-boxes-bar row">
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg">
					<p class="bg-btmtp">Judge</p>
					<img src="./images/icon_Judge.png">
					<p class="bg-btmfnt">2-contests waiting for judgement</p>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management process by simplifying the extraction.</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg">
					<p class="bg-btmtp">Sponser</p>
					<img src="./images/icon_Sponsor.png">
					<p class="bg-btmfnt">View status of<br /> sponsered ideas</p>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management process by simplifying the extraction.</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg">
					<p class="bg-btmtp">Mentor</p>
					<img src="./images/icon_Mentor.png">
					<p class="bg-btmfnt">6-Ideas pending</br>for review</p>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management process by simplifying the extraction.</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center" style="padding: 0">
				<div class="menu-bg">
					<p class="bg-btmtp">You are yet to start your</br> journey in contributing</br> your ideas</p>
					<img src="./images/icon_Creatte_idea.png" style="width: 28px;">
					<a href class="bg-btmfnt a-link" style="display:block;font-size: 11px;">Contribute your new ideas</a>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">Test Test Test Test Test Test Test</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4 col-md-4 col-sm-3 txt-center">
				<div class="menu-bg">
					<p class="bg-btmtp">WIN 20 LAKHS FOR BEST IDEA</p>
					<p class="bg-btmfnt" style="font-size: 11px;">Hackathon 2016 - Industry Differentiation</p>
					<p class="bg-btmfnt" style="font-size: 11px;">Through Technology</p>
					<p class="bg-btmfnt a-link" style="font-size: 11px;">Idea Submission - Dec 11th to Dec 29th</p>
					<a href class="bg-btmfnt a-link" style="display:block;font-size: 11px;">Know More...</a>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">Test Test Test Test Test Test Test</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<ul class="menu tab">
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')" id="defaultOpen">MOST POPULAR IDEAS</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')">ALL IDEAS</a></li>
		<li style="float: right;"><input type="text" class="search-box" placeholder="Search Idea"></li>
	</ul>
</div>

<div id="London" class="tabcontent" ng-init="openDefault()">
  <div ng-include="'views/mostpopular.html'" class="container" style="padding-left: 0px;"></div>
</div>

<div id="Paris" class="tabcontent">
  <div ng-include="'views/allideas.html'" class="container" style="padding-left: 0px;"></div>
</div>

<div class="float-menu">
	<div class="left-arr-menu"><</div>
	<ul class="sub-men">
		<li><a href class="short-bar">&nbsp;</a></li>
		<li><a href class="short-bar">&nbsp;</a></li>
		<li><a href class="short-bar">&nbsp;</a></li>
	</ul>
</div>

<!--div class="float-menu1">
	<div class="left-arr-menu1">HIDE</div>
	<ul class="sub-men1">
		<li><a href class="med-bar"><img src="images/icon_Myrecognition.png">
			My Recognition
		</a></li>
		<li><a href class="med-bar"><img src="images/icon_recognition_center.png">
			Recognition Center
		</a></li>
		<li><a href class="med-bar"><img src="images/icon_Mycommunity.png">
			My Community
		</a></li>
	</ul>
</div-->
<div class="hide-arr-menu midl-menu">HIDE ></div>
<div class="float-major-menu">
	<div class="row major-menu-box">
		<div class="col-lg-4 col-md-4 col-sm-4" style="padding-right: 0">
			<ul class="sub-menus1">
				<li><a href class="med-bars"><img src="images/icon_Myrecognition.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
				<li><a href class="med-bars"><img src="images/icon_recognition_center.png">
				</a><p class="med-bar-p">Recognition <br />Center</p></li>
				<li><a href class="med-bars"><img src="images/icon_Mycommunity.png">
				</a><p class="med-bar-p">My <br />Community</p></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0">
			<ul class="sub-menus1 grey-menus">
				<li><a href class="med-bars"><img src="images/icon_Gold.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
				<li><a href class="med-bars"><img src="images/Myprofile_Accmoney2.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
				<li><a href class="med-bars"><img src="images/Myprofile_50hrs.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0">
			<ul class="sub-menus1 grey-menus">
				<li><a href class="med-bars"><img src="images/Myprofile_Recieved200.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
				<li><a href class="med-bars"><img src="images/icon_4funded_ideas.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
				<li><a href class="med-bars"><img src="images/Myprofile_50hrs.png">
				</a><p class="med-bar-p">My <br />Recognition</p></li>
			</ul>
		</div>
	</div>

</div>
