
body {
	font-size: 14px;
	font-family: Open Sans;
}

.float-major-menu{
	float: right;
	top: 120px;
	position: fixed;
	right: -238px;
	background: #67c5ff;
	width: 330px;
	text-align: center;
	display: none;
}

.hide-arr-menu {
	float: right; 
	top: 90px;
	position: fixed;
	right: 0px;
	padding: 5px;
	width: 92px;
	display: none;
	background: #000;
	color: #67c5ff;
	font-size: 13px;
  padding-right: 9px;
	text-align: right;
}

.major-menu-box {
	clear: both;
}

.sub-menus1 {
	padding: 0;
	margin: 0;
	padding-top: 8px;
}

.sub-menus1 li {
	list-style-type: none;
	padding-top: 5px;
	min-height: 70px;
}

.rght5 {
	right: 0px !important;
}

.fnt-msg {
	cursor: pointer;
}

.bck-msg {
	display: none;
	cursor: pointer;
	background: #e5e5e5;
	color: #666;
}

.med-bar-p {
	font-size: 11px;
}

.grey-menus {
	background-color: #e2e2e2 !important;
	min-height: 245px;
	padding-bottom: 12px;
}

.title-img {
    display: none;
}

.search-box {
	width: 500px;
  margin-top: 8px;
  border-radius: 3px !important;
  height: 28px;
	padding: 5px;
	background-color: #e5e5e5;
}

.ide-det {
	clear: both;
	padding: 8px;
}

.a-link {
	font-size: 13px !important;
	color: #007fc1;
	cursor: pointer;
}

.a-link:hover {
	color: #fff;
}

progress {
		background-color: #efefef;
    border: 0;
    height: 8px;
    border-radius: 9px;
    width: 95%;
}

progress::-webkit-progress-value {
    background-color: #67c5ff;
}

progress::-webkit-progress-bar {
  background-color: #efefef;
}

/*Headers*/
.top-big-header-new {
	background-image: url("../images/headbg_bg.jpg");
	height: 411px;
	color: #fff;
	background-size: cover;
}

.top-bar-new {
	padding: 6px 0 10px;
}

.idea-menus-new {
    width: 102%;
}

.idea-menus-new li {
    display: inline-block;
    padding-left: 8px;
}

.idea-menus-new li a {
    color: #fff;
}

.top-banner-bar div{
	height: 96px;
	position: relative;
}

.top-banner-bar-new p{
  	bottom: 0px;
  	font-size: 31px;
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.med-size-fo {
    font-size: 14px;
    color: #fff;
}

a.med-size-fo:hover {
    font-size: 14px;
    color: #67c5ff;
}

.top-boxes-bar-new {
  margin-top: 22px;
}

.top-boxes-bar-new input {
	width: 100%;
	padding: 3px 6px;
	color: #444;
}

.menu-bg {
		padding: 1px 0 0 0;
		background: #000;
		min-height: 138px;
		border-radius: 6px;
}

.menu-bg img {
	width: 45px;
}

.bg-btmtp, .bg-btmfnt {
	font-size: 11px;
	margin-top: 10px;
}

.bck-msg .bg-btmtp {
	margin-top: 10px;
	padding: 2px 8px;
	min-height: 118px;
}

.bck-msg {
	display: none;
	cursor: pointer;
	background: #e5e5e5;
	color: #666;
}

.bck-msg p{
	font-size: 12px;
}

/*Float Menu*/

.float-menu, .float-menu1 {
		float: right;
    position: fixed;
    top: 90px;
    right: 0px;
}

li.selected {
	background-color: #e2e2e2 !important;
}

.float-menu1 {
	top: 280px;
}

.sub-men, .sub-men1 {
	margin-top: 12px;
}


.sub-men li, .sub-men1 li{
	list-style-type: none;
	min-height: 40px;
  cursor: pointer;
  background-color: #67c5ff;
	margin-bottom: 12px;
}

.left-arr-menu, .left-arr-menu1 {
	background: #000;
	color: #67c5ff;
	font-size: 18px;
	text-align: center;
	padding: 2px;
	cursor: pointer;
}

.short-bar, .med-bar {
	width: 6px;
	background-color: #67c5ff;
	padding: 10px 2px;
	min-height: 30px;
}

.med-bar {
	width: 80px;
	text-align: center;
  display: inline-block;
	color: #fff;
	background-color: #0381a9;
}


/*Body*/
/* Style the list */

.bot-boxes {
	border: solid 1px #dddddd;
}

.bot-content {
	min-height: 370px !important;
}

.bot-content2 {
	min-height: 312px !important;
}

.title-img img {
	width: 100%;
}

.title-popular {
		margin-bottom: 0;
    padding: 12px 5px;
		background: #e5e5e5;
}

.title-popular a{
		font-size: 14px;
    font-weight: 600;
		color: #666;
}

.design {
	float: right;
	width: 76%;
	margin-top: -16px;
	font-size: 10px;
}

.owner-det {
	margin-top: 15px;
  padding-left: 5px;
}

.owner-det b{
	color: #666;
}

.by-polpular {
	font-size: 11px;
	color:#777777;
}

.amt-popular {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.popularGraphData {
    padding: 8px;
}

.currency {
    float: left;
    margin: 1px 2px 0 0 !important;
    display: inline-block;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border-bottom: solid 2px #a8a8a8;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
}

/* Change background color of links on hover */
ul.tab li a:hover {border-bottom: solid 3px #1eb2e3;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {border-bottom: solid 3px #1eb2e3;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.rolls span img {
	cursor: pointer;
}



/*Footers*/
footer {
	margin-top: 30px;
	background: #e5e5e5;
	color: #666;
	font-weight: bold;
}

footer p{
	margin-top: 8px;
}


/*Commons*/

.txt-center{
	text-align: center;
}

.txt-right {
	text-align: right;
}

.flt-left {
	float: left;
}

.flt-right {
	float: right;
}

.clr {
	clear: both;
}

.mTop11 {
    margin-top: 11px;
}