
body {
	font-size: 14px;
	font-family: Open Sans;
}

.currency {
	float: left;
	margin: 1px 2px 0 0 !important;
	display:inline-block;

}

.currency img, .currency1 img {
	width: 12px;
}

.idea-menus {
	width:102%;
}

.idea-menus li {
	display: inline-block;
	padding-left: 8px;
}

.fundercontainer .amt-pop{
	display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: 500;
}

.no-bottom {
	border-bottom: initial !important;
}

.idea-menus li a{
	color: #fff;
}

.txt-center{
	text-align: center;
}

.txt-right {
	text-align: right;
}

.flt-left {
	float: left;
}

.flt-right {
	float: right;
}

.clr {
	clear: both;
}

.pleft0 {
	padding-left: 0;
}

.mTop11 {
	margin-top: 11px;
}

.m-btm8 {
	margin-bottom: 8px;
}

.m-btm20 {
	margin-bottom: 25px;
}

.med-money {
	width: 14px;
    padding: 2px;
}

.top-boxes-bar {
  margin-top: 22px;
}

.top-boxes-bar input {
	width: 100%;
	padding: 3px 6px;
	color: #444;
}

.progress-bars h3 {
	padding-bottom: 20px;
		font-size : 24px;
	font-weight: 400;
	color :#05a05e;
}

n{
	color: #58c8f2;
	border-radius: 50%;
	border: solid 2px #58c8f2;
	padding: 5px 12px;
	font-size: 18px;
	font-weight: 600;
}

.progress-bars .title, .titles {
		font-size : 14px;
	font-weight: 600;
	color :#444444;
}

.middle-bars .title {
		     min-height: 45px;
}

.cnts {
	color: #444;
}

.middle-bars {
	background-color: #F4F4F4;
	padding-bottom: 30px;
	margin-top: 20px;
}

.tops-img {
	float: left;
	margin-bottom: 20px;
}

.brders {
	border: solid 1px #eaeaea;
    min-height: 225px;
    padding-top: 10px;
    background-color: #fff;
}

input[type=submit] {
	 padding: 3px;
	 background: transparent;
	 border: solid 2px #fff;
	 color: #fff;
}

input, select, textarea {
	border: solid 1px #c2c2c2;
	padding-left: 4px;
}

select {
	color: #c2c2c2;
}

.top-bar {
	/*border-bottom: solid 1px #fff;*/
	padding: 6px 0 10px;
}

.view-more {
	float: left;
	margin-bottom: 15px;
}

.view-more a{
	font-size: 12px;
	color: #777777;
	text-decoration: underline;
}

.top-banner-bar div{
	height: 96px;
	position: relative;
}

.top-banner-bar p{
	position: absolute;
  bottom: 0px;
  margin-left: 27%;
  font-size: 33px;
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-bg {
		padding: 1px 0 0 0;
		background: #000;
		min-height: 138px;
		border-radius: 6px;
}

.menu-bg img {
	width: 45px;
}

.bg-btmtp, .bg-btmfnt {
	font-size: 11px;
	margin-top: 10px;
}

.top-sub-headers {
	background-image: url("../images/Inner_Header_Bg.jpg");
	border-bottom: solid 2px #46b69d;
}

.label-clr, .label-clrr {
	font-weight:600;
}

.label-clrr {
	margin-bottom: 0;
}

.box-brder {
	border: solid 1px #c2c2c2;
	color: #777777;
	font-size: 14px;
	background-color: #fff;
	padding: 15px;
	margin-right: 10px;
	height: 130px;
	width: 23%;
	margin-top: 15px;
	text-align: center;
}

.txt-lft {
	text-align: left;
}

.not-success {
	background-color: #f4f4f4;
	color: #444;
}

.green-box {
	    float: left;
    width: 10px;
    background-color: #1694aa;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.details-imp li, .clr-grey{
	color: #777;
}

.details-imp {
	padding-left: 0;
}

.label-clr span:not(.selected-s) {
	width: 20%;
	float: left;
	line-height: 25px;
}

.labels {
	color: #444 !important;
	font-size: 14px;
	font-weight: normal;
}

.close {
	float: right;
    margin-right: 6px;
}

select {
   -webkit-appearance: menulist-button;
   height: 27px;
       background: none;
}

.drag-drops {
	margin-top: 10px;
	color: #444;
	font-size: 12px;
}

.med-size-fo{
	font-size: 12px;
	color: #fff;
}

.select-files {
	color: #444;
	text-decoration: underline;
}

.img-right {
	float: left;
    margin-right: 10px;
}

.brder-line {
	border-bottom: solid 1px #d7d7d7;
	padding-bottom: 10px;
}

.desc-border {
	background-color : #FFFFFF;
	border : 1px solid #c2c2c2;
	font-size: 14px;
	color: #444444;
	padding: 4px;
	margin: 0 0 20px 0;
	width: 100%;
	height: 160px;
}

.drop-border {
	    padding: 25px;
    border: dashed 1px #a1a1a1;
    text-align: center;
    margin: 0 0 20px 0;
    background-color: #ebebeb;
}

.top-sub-bars {
	padding: 6px 0 10px;
}

.top-sub-bars span{
	color: #fff;
}


.date-groups {

}

.date-cal {
	border-radius: 0;
    height: 26px;
    padding: 4px;
}

.short-profilediv {
	float: left;
    width: 40px;
    height: 40px;
    clear: both;
}

.short-profilediv {
	margin-bottom: 10px;
}

.right-grey {
	background-color: #F4F4F4;
	padding: 3px;
	min-height: 100px;
}

.short-profilec-div {
	float: left;
}

.short-profilec-div .name-title{
	margin-bottom: 0px;
}

.join-team, .join-team:hover {
	background-color: #1694AA;
	color: #fff;
	padding: 5px 5px;
	text-decoration: none;
}

.browse-files {
	background-color: #898989;
	padding: 5px 7px;
	color: #fff;
}

.selected-s {
	background-color: #acacac;
	color: #fff;
	border-radius: 15px;
	padding: 2px 8px;
	margin-right: 3px;
	font-size: 12px;
}

.sub-title-head {
	margin-bottom: 20px;
}

.sub-title-head2 {
	font-size: 18px;
	font-weight: 600;
	color: #444;
	margin-bottom: 20px;
}

.sub-containers {
	margin: 30px auto;
}

.awards{
	float: left;
    width: 42px;
    text-align: center;
}

.received {
	width: 50%;
	float: left;
	text-align: center;
}

.recog-center n {
	padding: 18px 11px;
	background-color: #1694AA;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 100;
}

.recog-panel {
	margin: 0 0 0 10px;
    padding: 2px;
    text-align: center;
    border: solid 1px red;
    background-color: #0a4847;
}

.smash-c, .smash-c:hover {
	background-color: #fff;
	text-decoration: none;
	padding: 4px 15px;
	border-bottom: solid 2px #05a05e;
	color: #444;
}

.recog-panels{
	background-color: #0a4847;
	height: 248px;
}

.recog-panels a, .recog-panels a:hover {
	display: block;
	text-decoration: none;
	color: #fff;
}

.sub-bar-adjs .col-lg-9 {
	padding-left: 0;
}

.sub-bar-adjs .col-lg-3 {
	padding: 0;
}

.recog-panels .col-lg-4,.recog-panels  .col-lg-8,.recog-panels  .col-lg-9,.recog-panels  .col-lg-3 {
	padding: 0;
	text-align: center;
}

.recog-center b {
	background-image: url("../images/recognition-Center_Circle.png");
    float: left;
    width: 79px;
    background-repeat: no-repeat;
    margin-left: 33%;
    height: 79px;
    line-height: 78px;
    color: #fff;
}

.sliders-panel {
	margin: 40px 0 20px;
}


.btm-container {
	background-color: #f4f4f4;
	padding-top: 25px;
	padding-bottom: 25px;
}

.top-big-header {
	background-image: url("../images/headbg_bg.jpg");
	height: 411px;
	color: #fff;
}

.top-big-header2 {
	background: #46b69d;
    background: -webkit-linear-gradient(#1694aa, #46b69d);
    background: -o-linear-gradient(#1694aa, #46b69d);
    background: -moz-linear-gradient(#1694aa, #46b69d);
    background: linear-gradient(#1694aa, #46b69d);
    color: #fff;
}

.title-img img {
	width: 100%;
}

.title-popular {
		font-size: 14px;
    font-weight: 600;
    color: #049791;
		margin-bottom: 0;
    background: #efefef;
    padding: 12px 5px;
}

.design {
		float: right;
    width: 80%;
    margin-top: -16px;
		font-size: 12px;
}

.owner-det {
	margin-top: 15px;
  padding-left: 5px;
}

.by-polpular {
	font-size: 11px;
	color:#777777;
}

.bot-boxes {
	border: solid 1px #dddddd;
}

.bot-content {
	min-height: 370px !important;
}

.bot-content2 {
	min-height: 312px !important;
}

.popularGraphData {
	padding: 8px;
}

.amt-popular {
	font-size:18px;
font-weight:600;
color:#000000;

}

footer {
	margin-top: 30px;
	background-color: #119c52;
	color:#f2f2f2;
}

footer p{
	margin-top: 8px;
}

.pad-adju {
	padding-top: 5px;
    padding-bottom: 10px;
}

.bg-images {
	width: 100%;
    height: 156px;
    display: block;
    color: #fff !important;
    text-align: center;
    padding-top: 65px;
    text-decoration: none !important;
}

.botom-imgs .col-lg-2{
	padding: 0 2px;
}

.img1 {
	background-image: url("../images/followed_1.jpg");
}

.img2 {
	background-image: url("../images/followed_2.jpg");
}

.img3 {
	background-image: url("../images/followed_3.jpg");
}

.img4 {
	background-image: url("../images/followed_4.jpg");
}

.img5 {
	background-image: url("../images/followed_5.jpg");
}

.img6 {
	background-image: url("../images/65.jpg");
}

.logo-links {
	display: block;
	height: 55px;
}

.input-group-addon {
	background: none;
    border: 0;
    padding: 0;
}

.datearrow-left {
	background-color: red;
}

@media (min-width: 768px) {
.middle-bars .col-md-4 {
	width: 15.6%;
    margin: 5px;
    padding-right: 9px;
    padding-left: 9px;
}
}

@media (min-width: 768px) { .container { max-width: 1000px; }
.middle-bars .col-lg-2 {
	width: 15.6%;
    margin: 5px;
    padding-right: 9px;
    padding-left: 9px;
}

.padAdjust {
	width: 90% !important;
    height: 90px;
    margin-left: 10%;
}
}

/*New codes start */
.marginZero{
	margin : 0 0 0 0;
}
.paddingZero{
	padding: 0 0 0 0 ;
}
#menu li {
display: inline;
padding: 10px;
}
.menuMargin{
	margin: 10px 0 0 0;
}
#menuBlock li {
display: block;
padding: 5px 0 0 0;
list-style:none !important;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
   /*  width: 30px; */
}
.caption {
    display: block;
	Font-size:14px;
	Color:#444444 !important;
	Font-weight:0;
}
.below-sub-bars{
	padding: 8px 0 0 0 ;
}
.inlineCaption{
    display: inline;
	Font-size:14px;
	Font-weight:600;
	Color:#444444 !important;
}
.smallPane{
	Background-Color: #e1e1e1;
	Border-radius :8px;
	Font-size:13px;
	Color:#444444;
	padding:4px 4px 4px 4px;
}
.search-box{
	Background-Color : #FFFFFF !important;
	Border: 1px solid #c2c2c2 !important;
	Font-size:12px !important;
	Color:#b3b2b2 !important;
	border-radius:0px !important;
}
.recentActivities{
	margin: 10px 0 0 0;
	Font-size:14px;
	Font-weight:600;
	Color:#444444 !important;
}
.recentActivitiesInner{
	display: inline;
	margin: 10px 0 0 0;
	Font-size:14px;
	Color:#444444 !important;
	Font-weight: 100 !important;
}
.likeStaus{
	Font-size:12px;
	Color:#777777;
}
.suggestedPeople{
	Border: 1px solid #c2c2c2;
	Font-size:11px;
	Color:#777777;
	margin: 20px 0 0 0;
	text-align:center;
}
.blueButton{
	Background-Color: #1694aa;
	Font-size:14px;
	Color:#fefefe;
	border-radius:0px !important;
	float:right;
}
.activityStream a{
	Font-size:12px;
	Color:#444444;
	text-decoration:none !important;
}
.twittBtm{
	margin-bottom:40px;
}
.twitInnerDiv{
	padding-left: 25px;
}
.borderRadZero{
	border-radius:0px !important;
}
.twittPanel{
	display:inline;
	Font-size:14px;
	Font-weight:400;
	Color:#444444;
	Background-Color: #e1e1e1;
	Border-radius :12px;
	float:right !important;
	padding : 4px 4px 4px 4px;
}
.twitLegend{
	Font-size:18px;
	Font-Weight:600;
	Color:#444444;
	margin-top:30px;
}
.twitsSeeMoreLink{
	Font-size:14px;
	Font-weight:400;
	Color:#1694aa;
	float:right;
}
.twitDiv{
	margin-top:15px;
	Background-Color:#ebebeb;
	height:1px;
}
.menuImgWidth{
	min-height:22px;
}
.menuText{
	display: block;
	Font-size:12px;
	Color:#444444 !important;
	Font-weight:0;
}
.workFlowImg{
	width:870px;
}
.workFlowPadd{
	padding-left: 50px;
}
.sliderImg{
	width:195px;
}
@media screen and (min-height: 768px) and (orientation: portrait){
	.top-banner-bar p {
	    margin-left: 20%;
	    bottom: 40px;
	}
	.top-banner-bar div {
	    height: 258px;
	}
	.workFlowImg{
		width:750px;
	}
	.workFlowPadd{
		padding-left: 0px;
	}
	.middle-bars .col-sm-2 {
		width: 14.8%;
	    margin: 7px;
	    padding-right: 9px;
	    padding-left: 9px;
	}
	.recog-center b {
	    margin-left: 7%;
	}
	.sliderImg{
		width:136px;
	}
	.by-polpular {
	    font-size: 10px;
	}
	.blockLine{
		display: block;
	}

	.popularGraphData{
		position:absolute;
		bottom:0px;
	}
	.awards {
	    width: 30px;
	    font-size: 10px;
	}
	.received {
	    font-size: 11px;
	}
	.med-size-fo {
	    font-size: 8px;
	}


	.md-hgt .bot-content{
		min-height: 250px !important;
	}

	.md-hgt2 .bot-content{
		min-height: 286px !important;
	}
}
@media screen and (min-height: 768px) and (orientation: landscape){
	.botom-imgs .col-md-6{
		width: 16%;
	}

	.top-banner-bar p {
	    bottom: 58px;
	}

	.popularGraphData{
		position:absolute;
		bottom:0px;
	}
	.awards {
	    width: 43px;
	}

}

/*New codes end */

/*profile user color - starts here*/
.user {
	color: #fff;
}

.user:hover {
	color: #fff;
	text-decoration: underline;
}
/*profile user color - ends here*/

/* css class created for create ideas */
.browse-file {
	background-color: #898989;
	padding: 5px 7px;
	color: #fff;
	font-size:12px;
}



/*implementation mobile view - start*/
@media only screen and (max-width: 736px) and (min-width: 345px){
n {
		padding: 2px 7px;
    font-size: 12px;
}
.pleft0 {
		padding-left: 20px;
}

.box-brder p {
	font-size: 13px;
}

.box-brder {
	width: 43%;
    float: left;
    padding: 10px 8px;
    min-height: 125px;
}

.mar0 {
	margin: 0;
}

.mar0 .box-brder {
	width: 45%;
	height: 195px;
}

.mTop11 {
	margin-top: 26px;
}

.currency2 {
	float: initial !important;
}

.mob-hide {
	display: none;
}

.mob-show {
	display: block !important;
}

.mob-fix {
	width: 50%;
	float: left;
}

.user {
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
}

.top-sub-headers {
    background-size: auto 100%;
}

.label-clrr {
	font-size: 12px;
}

.browse-file {
	display: block;
	text-align: center;
}

.m-btm20 {
	margin-bottom: 10px;
}

.wid-fix {
	width: 100% !important;
}

.create-ideas input, .create-ideas select, .create-ideas textarea {
	width: 100% !important;
}

.labels.label-clr {
	padding-left: 0 !important;
}

.create-ideas input.date-cal {
	width: 90% !important;
}

.create-ideas .join-space {
	margin: 25px 0 0;
}

.mtops {
	margin-top: 25px;
}

.top-banner-bar p {
	font-size: 22px;
    margin: 0 auto;
    bottom: inherit;
    margin-top: 11px;
    font-weight: bold;
}

.top-banner-bar div {
    height: 96px;
}

.mbtm5 {
	margin-bottom: 5px;
}

.idea-menus {
    width: 88%;
}

.tops-img {
	width: 80%;
}

.idea-menus li {
    padding: 5px 0;
}

.workFlowPadd {
    padding-left: 4%;
}

.idea-menus li a{
	padding-right: 3px;
}

.workFlowImg {
    width: 95%;
    padding-left: 0;
}

.label-clr span:not(.selected-s) {
	width: 100%;
}

.mClr{
	clear: both;
}

.bot-content {
    min-height: initial !important;
}

.popularGraphData{
	position: relative !important;
}
}

.details-imp li {
	list-style-type: none;
	clear: both;
}

.details-imp li p{
	line-height: 20px;
	margin-bottom: 0;
}

.mob-show {
	display: none;
}

@media only screen and (max-width: 345px) and (min-width: 280px){
	.mob-containers .col-xs-1 {
		width: 10%;
	}

	.mob-containers .col-xs-11 {
		width: 85%;
	}

	n {
			padding: 2px 7px;
	    font-size: 12px;
	}
	.pleft0 {
			padding-left: 20px;
	}

	.box-brder p {
		font-size: 13px;
	}

	.box-brder {
		width: 45%;
	    float: left;
	    padding: 10px 8px;
	    min-height: 125px;
	}

	.mar0 {
		margin: 0;
	}

	.mar0 .box-brder {
		width: 45%;
		min-height: 195px;
	}

	.mTop11 {
		margin-top: 26px;
	}

	.mob-hide {
		display: none;
	}

	.mob-show {
		display: block !important;
	}

	.mob-fix {
		width: 50%;
		float: left;
	}

	.user {
	    color: #fff;
	    font-size: 14px;
	    margin-left: 8px;
	}

	.top-sub-headers {
	    background-size: auto 100%;
	}

	.label-clrr {
		font-size: 12px;
	}

	.idea-menus {
		margin-bottom: 0;
		padding-left: 0;
	}

	.idea-menus li {
    margin-bottom: 9px;
	}

	.label-clr span:not(.selected-s) {
		width: 100%;
	}

	.browse-file {
		display: block;
		text-align: center;
	}

	.m-btm20 {
		margin-bottom: 10px;
	}

	.wid-fix {
		width: 100% !important;
	}

	.create-ideas input, .create-ideas select, .create-ideas textarea {
		width: 100% !important;
	}

	.labels.label-clr {
		padding-left: 0 !important;
	}

	.create-ideas input.date-cal {
		width: 90% !important;
	}

	.create-ideas .join-space {
		margin: 25px 0 0;
	}

	.mtops {
		margin-top: 25px;
	}

.top-banner-bar p {
	font-size: 21px;
    margin: 0 auto;
    bottom: inherit;
    margin-top: 11px;
    font-weight: bold;
}

.top-banner-bar div {
    height: 110px;
}

.idea-menus {
    width: 95%;
}

.idea-menus li {
    padding: 5px 0 0;
}
.idea-menus li a{
	padding-right: 3px;
}


.label-clr span:not(.selected-s) {
	width: 100%;
}

.mClr{
	clear: both;
}
}

@media only screen and (min-width: 530px){
	.mar0 .box-brder{
		height: 160px !important;
	}
}

@media only screen and (min-width: 680px) and (min-width: 720px){
	.mar0 .box-brder{
		height: 135px !important;
	}

	.labelFix {
		width: 75% !important;
		float: right;
	}

	.md-hgt {
		margin-bottom: 20px;
	}

	.md-hgt2 .bot-content{
		min-height: 300px;
	}
	.currency2 {
	float: initial !important;
	}

}
/*implementation mobile view - Ends*/

.menu {
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
		border-bottom: solid 2px #a8a8a8;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.float-menu, .float-menu1 {
		float: right;
    position: fixed;
    top: 90px;
    right: 0px;
}

.float-menu1 {
	top: 280px;
}

.sub-men, .sub-men1 {
	margin-top: 12px;
}


.sub-men li, .sub-men1 li{
	list-style-type: none;
	min-height: 40px;
  cursor: pointer;
  background-color: #67c5ff;
	margin-bottom: 12px;
}

.left-arr-menu, .left-arr-menu1 {
	background: #000;
	color: #67c5ff;
	font-size: 18px;
	text-align: center;
	padding: 2px;
	cursor: pointer;
}

.short-bar, .med-bar {
	width: 6px;
	background-color: #67c5ff;
	padding: 10px 2px;
	min-height: 30px;
}

.med-bar {
	width: 80px;
	text-align: center;
  display: inline-block;
	color: #fff;
	background-color: #0381a9;
}

/*New Expand*/

.float-major-menu{
	float: right;
	top: 120px;
	position: fixed;
	right: -238px;
	background: #67c5ff;
	width: 330px;
	text-align: center;
	display: none;
}

.hide-arr-menu {
	float: right;
	top: 90px;
	position: fixed;
	right: 0px;
	padding: 5px;
	width: 92px;
	display: none;
	background: #000;
	color: #67c5ff;
	font-size: 13px;
  padding-right: 9px;
	text-align: right;
}

.major-menu-box {
	clear: both;
}

.sub-menus1 {
	padding: 0;
	margin: 0;
	padding-top: 8px;
}

.sub-menus1 li {
	list-style-type: none;
	padding-top: 5px;
	min-height: 70px;
}

.rght5 {
	right: 0px !important;
}

.fnt-msg {
	cursor: pointer;
}

.bck-msg {
	display: none;
	cursor: pointer;
}

.med-bar-p {
	font-size: 11px;
}

.grey-menus {
	background-color: #e2e2e2 !important;
	min-height: 245px;
	padding-bottom: 12px;
}

.title-img {
    display: none;
}

.search-box {
	width: 500px;
  margin-top: 8px;
  border-radius: 3px !important;
  height: 28px;
	padding: 5px;
}

.ide-det {
	clear: both;
	padding: 8px;
}
